@font-face {
  font-family: "POLYA";
  src: url("../fonts/POLYA.woff") format("woff"); }

body {
  overflow: scroll;
  overflow-x: hidden;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

::-webkit-scrollbar {
  width: 0px;
  background: transparent; }

.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px; }

.ant-menu.ant-menu-dark .ant-menu-item-selected,
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background-color: blue; }

.ant-menu-item:hover,
.ant-menu-item-active,
.ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
.ant-menu-submenu-active,
.ant-menu-submenu-title:hover {
  color: blue; }

.ant-layout-sider,
.ant-menu-item,
.ant-menu-dark,
.ant-menu-dark .ant-menu-inline.ant-menu-sub,
.ant-menu-dark .ant-menu-inline.ant-menu-submenu-open {
  background-color: #333;
  box-shadow: none;
  -webkit-box-shadow: none;
  z-index: 1; }

.ant-menu-dark,
.ant-menu-dark .ant-menu-sub {
  background: #333; }

.ant-layout-sider-trigger {
  background-color: blue; }

.ant-modal {
  width: 60% !important;
  min-width: 400px;
  z-index: 9999; }

.ant-modal-body {
  padding: 0px !important; }

.ant-modal-content {
  border-radius: 0px !important; }

.ant-modal-mask {
  z-index: 1001; }

.ant-modal-wrap {
  z-index: 9999;
  background-color: transparent; }

/* Thumbnails */
.desk-photo {
  width: 100%;
  position: relative; }

.name__container {
  width: 100%;
  height: 21vh;
  margin-top: -3vh; }

.name__img {
  padding-top: 50px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  z-index: 9999;
  animation: fade-in 3s ease-in;
  opacity: 0.95;
  animation-timing-function: linear; }

.body__container {
  min-height: 79vh;
  background-color: white; }

.project-board__container {
  width: 24vw;
  height: 17vw;
  position: absolute;
  right: 5vw;
  box-shadow: 6px 4px 20px 2px #ccc;
  z-index: 1000;
  top: 15vh; }

.project-board__img {
  width: 100%;
  height: 100%; }

.project-board__text {
  position: absolute;
  left: 56%;
  top: 20%;
  background-color: transparent;
  -ms-transform: rotate(-2deg);
  /* IE 9 */
  -webkit-transform: rotate(-2deg);
  /* Safari */
  transform: rotate(-2deg);
  /* Standard syntax */ }

.thumbnail__title {
  font-size: 0.85vw;
  background-color: transparent;
  font-family: 'Permanent Marker', cursive;
  font-weight: 200;
  padding-left: 2%; }

.thumbnail__project-header {
  font-size: 1.2vw;
  text-decoration: underline;
  padding-left: 0; }

.thumbnail__click-me {
  font-size: 1.25vw;
  padding-left: 6%;
  margin-top: 8%;
  color: red; }

.thumbnail__title:hover {
  cursor: pointer; }

.thumbnail__title--active {
  background-color: yellow; }

.project-click:hover {
  cursor: default; }

.frame {
  -ms-transform: scale(0.45);
  -moz-transform: scale(0.45);
  -o-transform: scale(0.45);
  -webkit-transform: scale(0.45);
  transform: scale(0.45);
  -ms-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0; }

.btn__learn-more {
  position: absolute;
  left: 30.75vw;
  z-index: 9999;
  padding: .3vw;
  background-color: transparent;
  border: 1px solid black;
  border-radius: .3vw;
  font-size: .8vw;
  transition-duration: 300ms; }

.btn__learn-more:hover {
  background-color: black;
  color: white;
  transition-duration: 300ms;
  cursor: pointer; }

.btn__learn-more:focus {
  outline: none; }

.btn-group__arrows {
  position: absolute;
  background-color: transparent;
  left: 63.75vw;
  z-index: 9999; }

.btn__arrow {
  padding: .3vw;
  background-color: transparent;
  border: 1px solid black;
  border-radius: .3vw;
  font-size: .8vw;
  transition-duration: 300ms;
  height: 1.8vw; }

.btn__arrow:hover {
  background-color: black;
  border: 1px solid black;
  color: white;
  transition-duration: 300ms;
  cursor: pointer; }

.btn__arrow:focus {
  background-color: black;
  border: 1px solid black;
  color: white;
  transition-duration: 300ms;
  cursor: pointer; }

.footer__row {
  margin-bottom: 10px;
  margin-top: -5vw; }

.footer__col {
  text-align: center; }

.modal__close__container {
  float: right;
  padding: 20px;
  cursor: pointer; }

.modal__close {
  width: 35px;
  margin-top: 4px;
  margin-bottom: 2px; }

.modal__close__svg {
  enable-background: new 0 0 25 25;
  color: #b3b3b3;
  width: 25;
  margin-left: 5; }

.modal__photo {
  margin-top: 0px;
  width: 100%; }

.modal__title {
  text-align: center;
  margin-left: 75px;
  font-size: 40px; }

.modal__content {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  padding: 30px; }

@media only screen and (max-width: 1000px) {
  .desk-photo {
    width: 200%;
    left: -47%; }
  .project-board__container {
    width: 60%;
    height: 43vw;
    position: static;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    box-shadow: 6px 4px 20px 2px #ccc; }
  .project-board__text {
    left: 54%;
    top: 20vh;
    margin-top: 8vw;
    width: 18.1%; }
  .thumbnail__title {
    font-size: 2vw; }
  .thumbnail__project-header {
    font-size: 2.5vw; }
  .thumbnail__click-me {
    font-size: 2.7vw;
    padding-left: 9%;
    margin-top: 10%;
    color: red; }
  .name__img {
    width: 70%; } }

@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 0.95; } }
